@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
}

.container {
  @apply mx-auto px-4;
}

/* Kevin Powell grid container */
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1024px;
  --breakout-max-width: 1280px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}
/* End of grid container */

.btn > .icon {
  @apply mx-1 text-xl;
}

.nice-pre {
  @apply block whitespace-pre overflow-x-scroll text-on-primary bg-black p-10 rounded-lg;
}

@layer components {
  .btn {
    @apply bg-primary px-3 py-2 rounded-md text-sm;
  }
  .card {
    @apply bg-surface-variant p-3 rounded-md shadow-md h-full;
  }
  .chip {
    @apply inline px-4 pb-1 pt-0.5 border rounded-lg mr-2;
  }
  .chip-icon {
    @apply inline px-4 pl-0 pb-1 pt-0.5 border rounded-lg mr-2;
    .icon {
      @apply text-3xl pb-2 pt-1;
    }
  }
  
}

/* Stylizacja dla kontenera select */
.select-container {
  position: relative;
  display: inline-block;
}

/* Domyślny styl dla select */
.select-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
